<!DOCTYPE html>
<html>

<head>
    <title>Generador de Código de Barras</title>
</head>

<body>
    <h1>Generador de Código de Barras</h1>
    <form action="/generate_barcode" method="post">
        <input type="text" name="product_id" placeholder="Número de Producto">
        <input type="text" name="product_name" placeholder="Nombre del Producto">
        <input type="text" name="product_price" placeholder="Precio del Producto">
        <input type="submit" value="Generar Código de Barras">
    </form>
</body>

</html>